In [1]:
import pandas as pd
import numpy as np

In [37]:
df = pd.read_csv('C:\\Users\\richa\\Desktop\\conversica\\data\\eng-hin.csv')

In [38]:
df.columns

Index(['eword', 'hword', 'egrammar'], dtype='object')

In [39]:
df= df.dropna(axis=0)

In [40]:
df= df[140:]

In [41]:
df.head()

                         eword       hword egrammar
142  Consecutive serial number  अनुक्रमांक     Noun
143               De addiction   नशामुक्ति     Noun
144                      Metra   बच्चेदानी     Noun
145                 Mid   Room   मध्य कक्ष     Noun
146                   Rallicar       ताँगा     Noun

In [42]:
df['eword']=df['eword'].map(lambda x : x.replace('\n',''))

In [43]:
a=set()

In [44]:
for i in df.eword:
    i = i.split()
    for j in i:
        if j not in a:
            a.add(j)

In [45]:
rem=[]
for i in zip(df.index,df.eword):
    if len(i[1])==1:
        rem.append(i[0])

In [46]:
tf=[]
for i in df.index:
    if i in rem:
        tf.append(True)
    else:
        tf.append(False)

In [47]:
df['tf']=tf

In [48]:
df=df[df['tf']==False]

In [49]:
rem1=[]
for i in zip(df.index,df.eword):
    j=i[1].split()
    if len(j)==1:
        rem1.append(i[0])

In [50]:
tf1=[]
for i in df.index:
    if i in rem1:
        tf1.append(True)
    else:
        tf1.append(False)

In [17]:
#df.to_csv('C:\\Users\\richa\\Desktop\\conversica\\eng-hin1.csv',encoding ='utf-8')

In [51]:
df['tf']=tf1

In [52]:
df=df[df['tf']==False]

In [53]:
df.to_csv('C:\\Users\\richa\\Desktop\\conversica\\eng-hin1.csv', encoding='utf-8')